<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Главная</title>
</head>
<body>
<section class="container">
    <div>
        <h2>Главная</h2>
    </div>
    <div>
        <ul>
            <li><a href="/api/v1/students">Студенты</a></li>
            <li><a href="/api/v1/tasks">Задания</a></li>
        </ul>
    </div>
</section>
</body>
</html>
