<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Решения студентов</title>
</head>
<body>
<script>
    window.onload = function() {
        '{{#studentLastname}}'
        document.getElementById('student_lastname').value = '{{studentLastname}}';
        '{{/studentLastname}}'
        '{{#studentFirstname}}'
        document.getElementById('student_firstname').value = '{{studentFirstname}}';
        '{{/studentFirstname}}'
        '{{#studentId}}'
        document.getElementById('student_id').value = '{{studentId}}';
        '{{/studentId}}'
        '{{#dateOfCompletionFrom}}'
        document.getElementById('date_of_completion_from').value = '{{dateOfCompletionFrom}}';
        '{{/dateOfCompletionFrom}}'
        '{{#dateOfCompletionTo}}'
        document.getElementById('date_of_completion_to').value = '{{dateOfCompletionTo}}';
        '{{/dateOfCompletionTo}}'
        '{{#studentGroup}}'
        document.getElementById('student_group').value = '{{studentGroup}}';
        '{{/studentGroup}}'
        '{{#studentSubgroup}}'
        document.getElementById('student_subgroup').value = '{{studentSubgroup}}';
        '{{/studentSubgroup}}'
        '{{#isMarked}}'
        document.getElementById('is_marked').value = '{{isMarked}}';
        '{{/isMarked}}'
    }
</script>

{{#taskTitle}}
<h2>Решения студентов задания "{{taskTitle}}"</h2>
{{/taskTitle}}

<form action="/">
    <input class="btn btn-primary mb-2" type="submit" value="Главная">
</form>

<button type="button" hidden="true" id="show_setMarkModal" class="btn" data-toggle="modal" data-target="#setMarkModal"></button>

<!-- SET MARK -->
<div class="modal fade" id="setMarkModal" tabindex="-1" role="dialog" aria-labelledby="setMarkModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="setMarkModalCenterTitle">Поставить оценку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/api/v1/solutions/mark" method="post">
                <div class="form-group mb-2">
                    <input class="form-control" id="taskId" type="hidden" name="taskId">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" id="studentId" type="hidden" name="studentId">
                </div>
                <div class="form-group mb-2">
                    <label for="mark" class="sr-only">Оценка</label>
                    <input class="form-control" id="mark" type="number" name="mark" placeholder="Оценка">
                </div>
                <input type="hidden" id="csrf-token" name="_csrf" value="{{_csrf.token}}"/>
            </form>
            <input class="btn btn-primary mb-2" type="submit" value="Поставить" onclick="setMark()"/>
            <button type="button" id="close_setMarkModal" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>

<!-- FILTERS -->
<form class="form-row align-items-center" action="/api/v1/solutions" method="get">
    <div class="form-group col-mb-6">
        <input class="form-control" id="task_id" type="hidden" name="task_id" value="{{taskId}}">
    </div>
    <div class="form-group col-mb-6">
        <label for="student_id">Student Id</label>
        <input class="form-control" id="student_id" type="number" name="student_id" placeholder="Student Id">
    </div>
    <div class="form-group col-mb-6">
        <label for="student_lastname">Фамилия</label>
        <input class="form-control" id="student_lastname" type="text" name="student_lastname" placeholder="Фамилия">
    </div>
    <div class="form-group col-mb-6">
        <label for="student_firstname">Имя</label>
        <input class="form-control" id="student_firstname" type="text" name="student_firstname" placeholder="Имя">
    </div>
    <div class="form-group col-mb-6">
        <label for="student_group">Группа</label>
        <input class="form-control" id="student_group" type="text" name="student_group" placeholder="Группа">
    </div>
    <div class="form-group col-mb-6">
        <label for="student_subgroup">Подгруппа</label>
        <input class="form-control" id="student_subgroup" type="number" name="student_subgroup" placeholder="Подгруппа">
    </div>
    <div class="form-group col-mb-6">
        <label for="date_of_completion_from">От</label>
        <input class="form-control" id="date_of_completion_from" type="date" name="date_of_completion_from" placeholder="От">
    </div>
    <div class="form-group col-mb-6">
        <label for="date_of_completion_to">До</label>
        <input class="form-control" id="date_of_completion_to" type="date" name="date_of_completion_to" placeholder="До">
    </div>
    <div class="form-group col-md-6">
        <label for="is_marked">По наличию оценки</label>
        <select class="custom-select form-control" id="is_marked" name="is_marked">
            <option selected value="0">С/Без оценки</option>
            <option value="1">С оценкой</option>
            <option value="2">Без оценки</option>
        </select>
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit" class="btn btn-primary mb-2" id="filter_solutions" style="margin-top: 22px">Отфильтровать</button>
</form>

<form class="form-inline" action="/api/v1/solutions" method="get">
    <div class="form-group mb-2">
        <input class="form-control" id="task_id" type="hidden" name="task_id" value="{{taskId}}">
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input class="btn btn-primary mb-2" id="filter_solutions_clear" type="submit" value="Сбросить фильтры"/>
</form>

<!-- SOLUTIONS TABLE -->
<table id="table_solutions" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Student Id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Группа</th>
        <th>Подгруппа</th>
        <th>Дата сдачи</th>
        <th>Оценка</th>
        <th>Решение</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#solutions}}
        <tr>
            <td>{{studentId}}</td>
            <td>{{studentLastname}}</td>
            <td>{{studentFirstname}}</td>
            <td>{{studentGroup}}</td>
            <td>{{studentSubgroup}}</td>
            <td>{{dateOfSolution}}</td>
            <td>{{#mark}} {{mark}} {{/mark}}</td>
            <td><button type="button" class="btn" onclick="openTask('{{studentId}}', '{{taskId}}')">Открыть</button></td>
            <td><button type="button" class="btn" onclick="openSetMark('{{studentId}}', '{{taskId}}', this)">Поставить оценку</button></td>
        </tr>
    {{/solutions}}
    </tbody>
</table>

<script>
    var currentRow = null;

    $(document).ready(function() {
        $('#table_solutions').DataTable();
    });

    function openTask(studentId, taskId) {
        window.location = "/api/v1/solutions/file?student_id=" + studentId + "&task_id=" + taskId;
    }

    function openSetMark(studentId, taskId, el) {
        currentRow = el.parentNode.parentNode;
        document.getElementById("studentId").value = studentId;
        document.getElementById("taskId").value = taskId;
        $('#show_setMarkModal').click();
    }

    function setMark() {
        var csrfToken = document.getElementById('csrf-token').value;
        var taskId = document.getElementById('taskId').value;
        var studentId = document.getElementById('studentId').value;
        var mark = document.getElementById('mark').value;
        $.ajax({
            type: "PUT",
            url: "/api/v1/solutions/mark?taskId=" + taskId + "&studentId=" + studentId + "&mark=" + mark,
            cache: false,
            success : function() {
                currentRow.cells[6].textContent = mark;
                currentRow = null;
                $('#close_setMarkModal').click();
            },
            beforeSend : function(request) {
                request.setRequestHeader("X-CSRF-TOKEN", csrfToken);
            }
        });
    }
</script>

</body>
